<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="org.coolCompany.App" />
    <module name="practiceMediaSoft" />
    <option name="PROGRAM_PARAMETERS" value="data.json out.json " />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>